#logo-rules{
    height: 45px;
}
#footer-rules{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
header{
    background-color:rgb(20, 121, 222);
    background-image:url(img/pattern.png);
    background-size: 120px 100px;
    height: 120px;
}

h1{
    font-size: 45px;
}
h2{
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif;
    color: dimgray;
}
h3{
    font-size: 13px;
    font-family:'Times New Roman', Times, serif
}
thead{
    color: aliceblue;
    background-color: rgb(71, 136, 226);
}
tbody{
    background-color: rgb(136, 188, 210);
}

.textcolor-lightblue {
    color: rgb(19, 155, 227);
}
.text-color-grey{
    color: dimgrey;
}

.highlight-yellow{
    background-color: rgb(235, 225, 120);
}
.background-white{
    background-color: azure;
}