#logo-rules{
    height: 40px;
}
header{
    background-color:rgb(20, 121, 222);
}
h1{
    font-size: 45px;
}
h2{
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif;
    color: dimgray;
}
h3{
    font-size: 13px;
    font-family:'Times New Roman', Times, serif
}
.scritta-azzurra{
    color: rgb(19, 155, 227);
}
.evidenzia-gialla{
    background-color: rgb(206, 191, 22);
}
thead{
    color: aliceblue;
    background-color: rgb(20, 121, 222);
}
tbody{
    background-color: rgb(2, 133, 189);
}
.sfondo-bianco{
    background-color: azure;
}
